{{/*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE- 2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
<nav class = "shadowed">
	<a href="/"><img class="shadowed" src="/media/celix.png"></a>
	<div id="mobmenu">
	<select class="mobbutton" onchange="if (this.value) window.location.href=this.value">
		<option value="">navigate</option>
        <option value="/">Home</option>
        {{ range .Sections }}
                <optgroup label="{{ .Name }}">
                    <option value="{{ .URL }}">{{ .Name }}</option>
                {{ range .Pages }}
                    <option value="{{ .URL }}">{{ .Name }}</option>
                {{ end }}
                </optgroup>
        {{ end }}
        <!--
		<option value="/downloads/">Downloads</option>
		<optgroup label="Community">
			<option value="/contributing.html">Contributing</option>
			<option value="/boardreports.html">Board Reports</option>
			<option value="/releasing.html">Releasing</option>
		</optgroup>
		<optgroup label="Support">
			<option value="/mailinglist.html">Mailing List</option>
			<option value="/issuetracking.html">Issue Tracking</option>
		</optgroup>
        -->
		<optgroup label="ASF">
			<option value="http://www.apache.org/">ASF Home</option>
			<option value="http://www.apache.org/foundation/how-it-works.html">How it works</option>
			<option value="http://www.apache.org/licenses/">License</option>
			<option value="http://www.apache.org/foundation/sponsorship.html">Sponsorship</option>
			<option value="http://www.apache.org/foundation/thanks.html">Thanks</option>
			<option value="http://www.apache.org/security">Security</option>
		</optgroup>
	</select>
	<div id="dropmenu" class="shadowed">
		<a href="/"><div class="dropbutton">Home</div></a>

        {{ range .Site.Sections }}
            <div class="dropdown">
                <div class="dropbutton">{{ .Name }}<div class="triangle"></div></div>
                <div class="dropdown-content">
                {{ range .Pages }}
                    <a href="{{ .URL }}">{{.Title}}</a>
                {{ end }}
                </div>
            </div>
        {{ end }}
        
        <div class="dropdown">
			<div class="dropbutton">ASF<div class="triangle"></div></div>
			<div class="dropdown-content">
				<a href="http://www.apache.org/">ASF Home</a>
				<a href="http://www.apache.org/foundation/how-it-works.html">How it works</a>
				<a href="http://www.apache.org/licenses/">License</a>
				<a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
				<a href="http://www.apache.org/foundation/thanks.html">Thanks</a>
				<a href="http://www.apache.org/security">Security</a>
			</div>
		</div>
	</div>
	</div>
</nav>
